.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    // color: whitesmoke;
    // background-color: black;
    border-bottom: 2px solid dimgrey;

    .tabs {
        display: flex;
        margin: 50px 0;

        .tab {
            margin: 0 20px;
            color: grey;
            text-decoration: none;
        }

        .tab:hover{
            color: peru;
        }
    }
}