.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-bottom: .2rem solid dimgrey;

    .tabs {
        display: flex;
        margin: 3rem 0;

        .tab {
            margin: 0 2rem;
            color: grey;
            text-decoration: none;
        }

        .tab:hover{
            color: peru;
        }
    }
}