@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

.home {
    display: flex;
    justify-content: center;
    background-color: white;
    background-size: cover;

    h1{
        font-family: 'Erica One', cursive;
        font-size: 200px;
        font-weight: 100;
        background-image: url("../utils/images/simple_dark_bg.jpg");
        background-clip: text;
        color: transparent;
    }

    .name{
        transition: ease-in 1s;
        color: rgb(53, 133, 133);
    }

    .name:hover {
        color: rgb(136, 58, 180);
    }
}