.home {
    display: flex;
    height: 750px;
    width: 100%;
    background-image: url(../utils/images/simple_dark_bg.jpg);
    background-size: cover;

    h1{
        width: 80%;
        font-size: 150px;
    }

    .name{
        height: 300px;
        width: 800px;
        margin: 100px 250px;
        // padding: 50px;
        transition: ease-in 1s;
        color: rgb(53, 133, 133);
    }

    .name:hover {
        color: rgb(136, 58, 180);
    }
}