.social-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-left: -5.5rem;
    color: white;
    background-color: black;
    border: .2rem solid dimgrey;
    border-left: none;
    border-radius: 0 2rem 2rem 0;
    z-index: 10;

    .link {
        margin: 1.5rem 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: .1em solid rgb(255, 255, 255);
    }

    .linkedin {
        border-radius: 35%;
    }
} 

.social-links:hover{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 0;
    color: white;
    background-color: black;
    border: .2rem solid dimgrey;
    border-left: none;
    border-radius: 0 2rem 2rem 0;
    z-index: 10;

    .link {
        margin: 1.5rem 2rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: .1rem solid rgb(255, 255, 255);
    }

    .linkedin {
        border-radius: 35%;
    }
}