.module {
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 36rem;
    z-index: 1;
    position: fixed;
    background-color: rgb(245, 245, 245);

    .carousel {
        display: flex;
        justify-content: space-between;

        .arrow {
            margin: 7em 1em;
            width: 2.5em;
            height: 5em;
        }
    }

    .image {
        width: 10em;
        height: 10em;
        margin: 2rem;
        border: .1rem solid black;
    }
}