.module {
    display: flex;
    justify-content: center;
    justify-self: center;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 600px;
    z-index: 1;
    position: fixed;
    background-color: white;
    border: 1px solid black;

    img {
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 1px solid black;
    }
}