@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    top: 0;
    margin: auto;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}