.projects {
    display: flex;
    justify-content: center;
    height: 700px;
    margin: auto;
    padding-left: 100px;

    img {
        width: 150px;
        height: 300px;
    }

    .project {
        width: 300px;
        height: 300px;
        margin: 0 50px;
    }

    .coach-me {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    .fake-project {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
}